<mat-button-toggle-group>
    <mat-button-toggle appearance="outline" value="Thursday" (change)="onButtonToggle($event.value)">Thursday</mat-button-toggle>
    <mat-button-toggle appearance="outline" value="Friday" (change)="onButtonToggle($event.value)">Friday</mat-button-toggle>
    <mat-button-toggle appearance="outline" value="Saturday" (change)="onButtonToggle($event.value)">Saturday</mat-button-toggle>
    <mat-button-toggle appearance="outline" value="Sunday" (change)="onButtonToggle($event.value)">Sunday</mat-button-toggle>
</mat-button-toggle-group>

<br />

<div class="scrollable">
    <ng-container *ngFor="let item of displayedSchedule">
        <div class="schedule-card" *ngIf="inMySchedule(item.Path)">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <a [href]="goToExpoPage(item.Path)" target="_blank">{{ item.Title }}</a>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>{{ item.Topic }}</p>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ item['Short-abstract'] }}</p>
                    <p><fa-icon [icon]="faClock"></fa-icon>&nbsp;<strong>{{ item.Day }}, {{ item.Time }}</strong><br>
                        <fa-icon [icon]="faBuilding"></fa-icon>&nbsp;&nbsp;<strong>{{ item.Room }}</strong></p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button color="warn" (click)="removeMyScheduleItem(item)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>