mat-button-toggle-group {
    width: 100vw;

    mat-button-toggle {
        width: 25vw;
        font-weight: bold;
    }

    .mat-button-toggle-checked {
        background-color: #DCDCFF;
    }
}

div.cards {
    width: 90vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.8vw;
    
    mat-card {
        width: 90vw;
        border-radius: 10px;
        word-wrap: break-word;
        border: 3px solid black;

        mat-card-footer {
            display: flex;
            justify-content: space-between;
            margin-left: 1px;
            align-items: center;
            padding-right: 1px;
        }
    }
}