<div class="container">
    <div class="exhibitor-card" *ngFor="let exhibitor of exhibitors">
        <mat-card>
            <mat-card-header>
                <mat-card-title><a [href]="exhibitor['website-url']" target="_blank">{{ exhibitor.title }}</a></mat-card-title>
                <mat-card-subtitle *ngIf="exhibitor['sponsor-type'] !== ''">
                    {{ exhibitor['sponsor-type'] }}
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="exhibitor['image-url']">
            <mat-card-content>
                <p>{{ exhibitor.body }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>