<mat-toolbar color="primary">
    <button mat-icon-button (click)="menuClicked()" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <fa-icon [icon]="faArrowLeft" size="sm" (click)="arrowClicked()" [ngClass]="arrowClass"></fa-icon>
    <span (click)="outFocus()" class="example-spacer"></span>
    <span (click)="outFocus()">SCaLE Conference</span>
</mat-toolbar>

<div class="package">
    <div [@openClose]="isMenuOpen ? 'open' : 'closed'" class="menu">
        <span *ngFor="let item of menuItemKeys(); first as isFirst; last as isLast">
            <p (click)="menuItemClicked(item)">{{ item }}</p>
            <hr *ngIf="!isLast">
        </span>
    </div>

    <div class="content">
        <app-announcements *ngIf="currentPage === 'announcements'"></app-announcements>
        <app-schedule *ngIf="currentPage === 'schedule'"></app-schedule>
        <app-my-schedule *ngIf="currentPage === 'my-schedule'"></app-my-schedule>
        <app-contacts *ngIf="currentPage === 'contacts'"></app-contacts>
        <app-exhibitors *ngIf="currentPage === 'exhibitors'"></app-exhibitors>
        <app-speakers *ngIf="currentPage === 'speakers'"></app-speakers>
        <app-special-events *ngIf="currentPage === 'special-events'"></app-special-events>
        <app-qr-code *ngIf="currentPage === 'qr-code'"></app-qr-code>
        <app-campus-map *ngIf="currentPage === 'campus-map'"></app-campus-map>
    </div>

    <div class="dark" *ngIf="isMenuOpen" (click)="outFocus()"></div>
</div>