.navbar {
    width: 100%;
    box-shadow: 5px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px #222222;

    fa-icon:nth-child(2) {
        margin-left: 1rem;
    }

    h1 {
        position: absolute;
        left: 40%;
    }

    .hidden {
        visibility: hidden;
    }
}

.menu {
    background-color: #E9F2F9;
    width: 60%;
    text-align: right;
    padding: 15px 10px;

    span {
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        em {
            color: #EB6C4B;
        }

        p {
            color: #1D3261;
        }
    }
}