mat-button-toggle-group {
    width: 100vw;

    mat-button-toggle {
        width: 25vw;
    }
}

div.cards {
    width: 90vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.8vw;
    
    mat-card {
        width: 90vw;
        border-radius: 20px;
        word-wrap: break-word;
        border: 3px solid black;

        mat-card-footer {
            margin-left: 1px;
        }

        mat-card-actions {
            text-align: right;
        }

        .inms {
            background-color: green;
        }
    }
}