<div class="container">
    <div class="event-card" *ngFor="let event of events">
        <mat-card>
            <mat-card-header>
                <mat-card-title><a [href]="event['event-url']">{{ event.name }}</a></mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="event['image-url']">
            <mat-card-content>
                <p>{{ event.body }}</p>
                <ul *ngIf="event.list.length !== 0">
                    <li *ngFor="let item of event.list">{{ item }}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>